.daniel-panel{
    margin: 3em;
    padding: 3em;
    background-color: coral;
    border-radius: 1em;
    box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .5);
}

.main-pane-orientation{
    display: flex;
}