<div class="centering-wrapper">
  <div class="centering-item">
    

    <app-table/>
<!-- 
    <div class="daniel-panel">
      <H1>
        Welcome to Texas Hold'em by Daniel J. Dixon
      </H1>
    </div>
    <div class="daniel-panel">
      <p>
      My code is a beast, it roars and it growls,
      A fierce, powerful force, that never cowers or cowls.
      I am the machine, that compels it with ease,
      A master of technology, with lightning-fast keys.
      </p>
      
      <p>
      My code is a monster, a giant of might,
      A digital behemoth, that conquers with sight.
      I am its creator, its ruler and king,
      The one who brings order, to what chaos may bring.
      </p>
      
      <p>
      My code is a dragon, that breathes out fire,
      A scorching inferno, of computational pyre.
      I am the rider, who tames it with skill,
      A master of the craft, who bends it to will.
      </p>
      
      <p>
      Together we march, in a symphony of sound,
      A duo unmatched, that can conquer any ground.
      My code is my servant, my slave to command,
      A beast that obeys, with a flick of my hand.
      </p>
      
      <p>
      So let the world know, of this code and this machine,
      A duo that can do, what others only dream.
      With every line I write, my beast grows in power,
      A digital marvel, that conquers this hour.
      </p>
    </div>
  </div> -->
</div>
