<div class="centering-wrapper">
  <div class="centering-item">

    <div class="main-pane-orientation">
      <div class="daniel-panel">
        <app-table/>
      </div>
      <div class="daniel-panel">
        <img class="drawio" src="assets/Texas.png">
        <h1>
          by Daniel J. Dixon
        </h1>
        <p>
          This is the plan, but so far what you are seeing is a UI and API containerized and running in AKS. everything else is visioning.
        </p>
        <a href="https://github.com/danieljdixon1">
          github
        </a>
        <br>
        <a href="https://www.linkedin.com/in/daniel-software/">
          linkedin
        </a>
      </div>
    </div>

</div>
